


/*************************************************统**一**样**式*************************************************/



/* html{
    min-height: 100%;
    min-width: 100%;
    filter: grayscale(100%) saturate(.8);
    -webkit-filter: grayscale(100%);
} */

        /* 全站灰色滤镜  以备不时之需 */
    /* 滤镜      灰色指数      饱和度 */
    /* -o-       Presto内核   兼容 Opera 浏览器 */
    /* -ms-      Trident内核  兼容 Edge 浏览器 */
    /* -moz-     Gecko内核    兼容 Firefox 浏览器 */
    /* -webkit-  webkit内核   兼容 Safari & Chrome 浏览器 */






body{                  /* label有白边 不知咋整 */
    overflow: hidden;
}


#wallpaper{                            /* 壁纸单独拿出来 手机端就不会晃来晃去了 */
    /* background-color: #000; */
    background-image: url(../img/wallpaper/NGC_3324.jpg);                             /* 本地壁纸 */
    /* background-image: url(https://bing.shangzhenyang.com/api/1080p); */                    /* 必应壁纸 */
    /* background-image: url( ); */      /* 外链壁纸 */
    background-size: cover;             /* 背景全覆盖 */
    background-repeat: no-repeat;       /* 背景不重复 */
    background-position: center;        /* 背景居中定位 */
    background-attachment: fixed;       /* 背景固定 仅适用于壁纸 图片不会随着页面的滚动而滚动 */ 
    min-height: 100vh;
    min-width: 100vw;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;                /* 列表项标记的类型 */
    /* border: 1px solid black; */       /* 编辑辅助边框 */
}

a{
    text-decoration: none;  /*链接去下划线*/
    border: none;
}

.spjz{               /* 外边距 水平居中 */
    margin: 0 auto;
    left: 0;
    right: 0;
}

.czjz{               /* 外边距 水平居中 */
    margin: auto;
    top: 0;
    bottom: 0;
}

.imgstyle{                        /* 嵌入图片的方式 这个类不能用 为啥呢 */
    background-size: cover;       /* 背景全覆盖 */
    background-position: center;  /* 图片居中定位 */
    background-repeat: no-repeat; /* 背景不重复 */
}

#weather{
    position: fixed;
    width: 150px;
    height: 25px;
    left: 31px;        /* 与右边 ≡ × 对称 */
    top: 35px;         /* 与右边 ≡ × 同高 */
}

#link{
    position: fixed;
    display: flex;
    justify-content: center; /* 框内水平居中 */
    align-items: center;     /* 框内垂直居中 */
    bottom: 40px;
    width: 400px;
    height: 20px;
}

#fishol{
    position: fixed;
    display: flex;
    justify-content: center; /* 框内水平居中 */
    align-items: center;     /* 框内垂直居中 */
    bottom: 7px;
    width: 300px;
    height: 30px;
}

#fishol > #icp{                   /* logo */
    width: 28px;
    height: 28px;
    display: inline-block;
    background: url(../img/other/icp.png);
    background-size: cover;       /* 背景全覆盖 */
    background-position: center;  /* 图片居中定位 */
    background-repeat: no-repeat; /* 背景不重复 */
}

#fishol > a{
    color: #ddd;
    font-size: 14px;
}

#link > a{
    color: #ddd;
    font-size: 14px;
    font-family: "黑体", sans-serif;
}

#link{
    color: #ddd;
    font-size: 18px;
}













