


/*************************************************统**一**样**式*************************************************/



html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;                             /* 隐藏滚动条 防止右边×溢出 */
    
    /* filter: grayscale(100%) saturate(.8); */  /* 灰度  饱和度  全站黑白滤镜 */
    /* -webkit-filter: grayscale(100%); */       /* 兼容 Safari & Chrome 浏览器  以备不时之需 */

    /* 滤镜      灰色指数      饱和度 */
    /* -o-       Presto内核   兼容 Opera 浏览器 */
    /* -ms-      Trident内核  兼容 Edge 浏览器 */
    /* -moz-     Gecko内核    兼容 Firefox 浏览器 */
    /* -webkit-  webkit内核   兼容 Safari & Chrome 浏览器 */

} 


body{
    /* background-color: #000; */
    background-image: url(../img/wallpaper/NGC_3324.jpg);                     /* 本地壁纸 */
    /* background-image: url(https://www.todaybing.com/api/today/cn); */                /* 必应壁纸 */
    /* background-image: url(https://cdn.jsdelivr.net/gh/fishol/wallpaper/NGC_3324.jpg); */   /* 外链壁纸 */
    background-size: cover;             /* 背景全覆盖 */
    background-repeat: no-repeat;        /* 背景不重复 */
    background-attachment: fixed;         /* 背景固定 壁纸图片不会随着页面的滚动而滚动 */
    height: 100vh;
    width: 100vw;
    overflow: hidden;                             /* 隐藏滚动条 防止右边×溢出 */

}

*{
    margin: 0;
    padding: 0;
    list-style: none;          /* 列表项标记的类型 */
    border: 1px solid black;   /* 编辑辅助边框 */
}

a{
    text-decoration: none;  /*链接去下划线*/
    border: none;
}

.spjz{               /* 外边距 水平居中 */
    margin: 0 auto;
    left: 0;
    right: 0;
}

.czjz{               /* 外边距 水平居中 */
    margin: auto;
    top: 0;
    bottom: 0;
}

#weather{
    position: fixed;
    width: 150px;
    height: 25px;
    left: 44px;       /*   42  与右边 ≡ × 保持一致 */
    top: 36px;        /* 41    与右边 ≡ × 保持一致 */
}

#footer{                  /* 底部版权 */
    position: fixed;
    width: 300px;
    display: table;
    height: 20px;
    line-height: 20px;    /* 行高与高度一致时垂直居中 */ 
    bottom: 10px;
    text-align: center;   /* 水平居中 */
    font-size: 15px;      /* 字体大小 */
    font-family: Helvetica, Arial, sans-serif;    /* 字体样式 */
    color: #d4d4d4;
    
}

#footer > a{
    color: #d4d4d4;
}

#fishol:hover{
    color: #03a8f4;
}







