





#sidebar{
    z-index: 2;
    position: fixed;
    right: -380px;
    width: 380px;
    background-color: #01579B;
    /* background-color: transparent; */
    transition: all .5s ease-in;
}
#yu{
    z-index: 27;   
    /* position: absolute; */
    position: sticky;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;     /* 直径为200px的圆 */
    background-color: #fff;  /* 白底 透明 圆魚 */
    background-image: url(../img/logo/yu.png);
    background-position: center;        /* 图片居中 */
}
#sidebar-nav{
    z-index: 25;
    height: 3000px;
    width: 330px;
    background-color: #48b7f7;
    overflow:scroll
    /* padding-right: 70px;  */
}
#sidebar li a{
    /* display: grid; */
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;       /* 链接默认颜色 */
    padding-left: 40px;  /* 链接到边框的距离 */
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid #000;
    transition: all .5s ease-in;   /* 鼠标移到链接上 特效（变黑色）展示的时间 */
}
ul li:hover a{
    background-color: #01579B;  /* padding-left: 50px;  不知道为啥没用 */
}
#sidebar ul a i{
    margin-right: 16px;  /* 链接与ico的距离 */
}
#check{          /* 复选框 控制≡× */
    display: none;
}
label #open,label #close{  /* ≡ × 的统一属性  */
    position: fixed;
    cursor: pointer;
    color: #E1F5FE;
    background-color: #03A9F4;
    border-radius: 10px;
    /* box-shadow: 0 0 15px #03a9f4; */     /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色 */
}
label #open{              /* 点击≡ 向左打开 */
    z-index: 1;
    right: 30px;          /* 侧栏打开时 ≡的默认位置 */
    top: 30px;            /* 侧栏打开时 ≡的默认位置 */
    font-size: 28px;
    padding: 3px 7px;     /* 内边距 上 右 下 左 */
    transition: all .5s ease-in;  /* 开关侧栏时 ≡的showtime */
}
label #close{             /* 点击× 向右关闭 */
    z-index: 3;           /* 数字越大越靠上 */
    right: -300px;        /* 侧栏关闭时×的位置 在视窗外 */
    top: 20px;            /* 打开时×到上边框的距离 在视窗内 */
    font-size: 35px;
    padding: 0px 6px;      /* 内边距 上 右 下 左 */
    transition: all .5s ease-in;  /* 开关侧栏时 ×的showtime */
}
#check:checked ~ #sidebar{
    right: 0;             /* 侧栏默认在右边 向左弹出 */
}
#check:checked ~ label #open{
    right: 250px;         /* ≡在右边 向左弹出 */
    opacity: 0;           /* 点×后 使≡完全透明 */  
    pointer-events: none; /* 元素不能对鼠标事件做出反应 */
}
#check:checked ~ label #close{
    right: 325px;         /* 打开时×到右边框的距离 在视窗内 */
}