

/*************************************************搜**索**主**体*************************************************/


#main{                     /* logo+搜索框 */
    position: fixed;
    width: 800px;
    height: 400px;
    top: -168px;           /* 垂直居中 + 黄金比例 */
}

#main > #logo{                        /* logo */
    /* display: none; */         /* 抢戏的logo该删就删 */
    position: absolute;
    width: 300px;
    height: 100px;
    background: url(../img/logo/fishol.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

#search{                          /* 搜索框 */
    position: absolute;
    width: 680px;                /* search宽 = input宽 + input左右缩进 */
    height: 50px;
    border-radius: 50px;          /* 搜索框左右圆角 */
    border: 1px solid #999;    /* 默认边框颜色 */
}

#main #search:hover{
    box-shadow: 0 0 15px #03a9f4; /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色 */
    border: 1px solid #03a9f4;
}

#main form{
    display: inline-block;      /* 添加后允许在元素上设置宽度和高度 */
    position: relative;
    width: 100%;                /* 宽高最大化 = search的宽高 */
    height: 100%;
    border: none;
}

#search #icog{
    position: absolute;
    left: 10px;                     /* 谷歌靠左 */
    width: 40px;
    height: 40px;
    background: url(../img/ico/google.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    /* border: none;               span是行内元素 不会自动换行 也没有边框 */
}

#search #icob{
    position: absolute;
    left: 10px;                     /* 百度靠左 */
    width: 40px;
    height: 40px;
    background: url(../img/ico/baidu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    /* border: none;                span是行内元素 不会自动换行 也没有边框 */
}

#search input{ 
    /* width: 20em;                 1em = 1个单位的 font-size 此框能写20个字 */
    width: 520px;                   /* input宽 + input左右缩进 = search宽 */
    height: 50px;
    text-align: center;             /* 输入框文字居中 */
    font-size: 25px;
    /* letter-spacing:0px;          字间距 默认值就挺好 不用改 */
    padding-left: 80px;             /* margin外边距  padding内边距 */
    padding-right: 80px;            /* 增加右内边距 也可以当右缩进 */
    border: none;                   /* 输入框无边框 */
    outline: medium;                /* 选中后也无边框 */
    border-radius: 50px;            /* 输入框左右圆角 */
    background-color: transparent;  /* 透明色 */ 
}

#search input:focus{ 
    background-color: #fff;       /* 输入时背景变色 */
}

#search #icos{
    position: absolute;
    right: 10px;                    /* 搜索靠右 修改为margin-right后 搜索图标会向右溢出 */
    width: 40px;
    height: 40px;
    background: url(../img/ico/search.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    border: none;          /* 删除button边框 */
}


#buy{                     /* 写了很久 欢迎打赏 交流学习 */
    position: absolute;
    width: 500px;
    display: table;
    height: 20px;
    line-height: 20px;    /* 行高与高度一致时垂直居中 */ 
    bottom: 60px;
    text-align: center;   /* 文字水平居中 */
    font-size: 20px;      /* 字体大小 */
    font-family: Helvetica, Arial, sans-serif;    /* 字体样式 */
    color: #434343;
}

#buy > a{
    color: #434343;
}
