

html{
    height: 100%;
    width: 100%;

}

body{
    /* background-image: url(../img/Mac.jpg);  */
    background-size: cover;  
    background-repeat: repeat;          /* 背景不重复 */
    background-color: #fff;
    display: flex;

}


*{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;    /*链接去下划线*/
    border: none;
    color:#000;

}

img{
    width: 100%;
    height: 100%;

}


/********************************************************************************************/


#weather{                                 /* 天气 */
    position:absolute;
    width: 200px;
    height: 150px;
    left: 20px;
    top: 20px;
    

}

#sb1{                        /*侧栏导航按钮*/
    position: absolute;                    /* 绝对定位 */
    width: 40px;
    height: 40px;
    right: 20px;
    top: 20px;
    background-color: skyblue;
}



/* .Sidebar{


} */


/********************************************************************************************/




#fishol{                             
    position:absolute;
    width: 670px;
    height: 500px;
    left: 0;
    right: 0;
    top: 180px;
    margin: auto;


}


#fishol > #logo{                                    /* logo */
    position: relative;
    width: 300px;
    height: 100px;
    margin: auto;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: url(../img/logo.png); */


}



#fishol form{
    
    display: flex;            /* 三个框并排了 */
    position: relative;
    width: 100%;             /*调试到吐 不能再改了*/
    height: 54px;             /*调试到吐 不能再改了*/
    border-radius: 50px;       /* 矩形圆角输入框 */
    margin: auto;
    top: 80px;
    border: 1px solid #999;
    /* box-shadow: 10px 5px 5px black; */              /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色 */
    
}




#fishol form:hover{

    /* box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px; */

    box-shadow: 2px 2px 15px 2px rgba(51, 51, 51, 0.1);
}




#icog, #icob{                                      /*图标在左*/
    position: relative;
    display: flex;      /*不加这个a标签会多个框 加了看不出来*/
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin: auto;

}

#icos{                                      /*图标在右*/
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin: auto;


}




input{
    position: relative;
    display: flex;
    background-color: transparent;    /* 透明色 */ 
    width: 530px;
    height: 52px;
    text-align: center;         /* 输入文字居中 */
    font-size: 27px;
    outline: medium;            /* 选中后无边框  */
    border: none;            /* 边框透明 */
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;


}






/********************************************************************************************/


/* #music{
    position:absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(52, 8, 247);
    left: 20px;
} */


#copyright{
    position: absolute;
    bottom: 10px;    
    text-align: center;
    height: 40px;
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}



/*********************************************************************************************/


@media (max-width: 600px){



    #weather{                                 /* 天气 */
        
        display: none;             /* 不会改 先删掉 */
    
    }



    #sb1{                        /*侧栏导航按钮*/
        position: absolute;                    /* 绝对定位 */
        width: 40px;
        height: 40px;
        right: 20px;
        top: 20px;
        background-color: skyblue;
    }



    #fishol{                        /* 为啥手机端不让选from呢 */

        position:absolute;
        width: 90%;
        height: 500px;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;

    }


    

    
    #fishol > #logo{
        position: relative;
        width: 225px;
        height: 75px;
        margin: auto;
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        z-index: -1;       /* 固定在最底层 不要挡住天气插件 */

    }

    #icob, #icog, #icos{
        width: 35px;
        height: 35px;
    }


    

    #fishol input{
        background-color: transparent;    /* 透明色 */ 
        width: 65%;
        height: 46px;
        text-align: center;         /* 输入文字居中 */
        font-size: 21px;
        outline: medium;            /* 选中后无边框  */
        border: none;             /* 边框透明 */
        margin-left: 0px;
        margin-right: 0px;
        margin: auto;
    }


    #copyright{
        position: absolute;
        bottom: 10px;    
        text-align: center;
    }
}


