




body{
    background-image: url("../img/Mac.jpg");
    background-size: cover;
    background-position: center -50px;
}



.weather{                                 /* 天气 */
    position:absolute;
    width: 200px;
    height: 40px;
    left: 10px;
    top: 10px;
}


#fishol{                                  /* 主体=logo+搜索框 */
    position:absolute;
    width: 800px;
    height: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 300px;
    margin: auto;

}

.logo{                                    /* logo */
    width: 150px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(243, 219, 8);

}

.input-box{                               /* 提交表单 */
    height: 50px;                          /* 高 */
    width: 700px;                          /* 宽 */
    margin: auto;

}

input{                                       /* 输入框  */
    height: 100%;                            /* 高 */
    width: 100%;                             /* 宽 */
    outline: none;                           /* 轮廓 */
    border: 1px rgb(180, 178, 178) solid;              /* 边框大小 颜色 样式 */
    border-radius: 30px 30px 30px 30px;     /* 边框圆角 */
    text-align: center;                     /* 文本居中 */
    background-color:transparent;           /* 背景透明 */
    
}

 .music{                                    /* 音乐插件 */
    position:absolute;                      /* 绝对定位 */
    width: 50px;
    height: 50px;
    left: 10px;
    bottom: 10px;
    background-color: rgb(5, 135, 241);

}

.navigation{                                /*侧栏导航按钮*/
    position:absolute;                      /* 绝对定位 */
    width: 50px;
    height: 50px;
    right: 10px;
    top: 10px;
    background-color: rgb(5, 135, 241);

}

 footer{                                    /* 底部版权 */
    position:absolute;                     /* 绝对定位 */
    left: 0;
    right: 0;
    width: 120px;
    height: 50px;
    bottom: 10px;
    margin: auto;

}


 a{
    text-decoration:none;                 /*链接去下划线*/ 
}